<html layout:decorate="~{global/layout}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="|게시글 내용 - ${post.id}. ${post.title}|"></title>
</head>

<body>
<div layout:fragment="content">

    <h1 class="font-bold mb-2">
        <i class="fa-regular fa-newspaper"></i> 게시글 내용</h1>
    <hr>

    <div class="mt-2">
        <div class="badge badge-outline" th:text="${post.id}"></div>
        <span th:text="${post.title}"></span>
        <span class="badge badge-secondary badge-outlined" th:if="${post.isPaid}">
            <span th:text="' 유료 글'"></span>
        </span>
        <span class="badge badge-info badge-outlined" th:unless="${post.isPaid}">
            <span th:text="' 무료 글'"></span>
        </span>
    </div>

    <div class="mt-2 whitespace-pre-line" th:if="${!post.isPaid or (@rq.member != null and @rq.isPaid)}"
         th:text="${post.body}"></div>
    <div th:if="${post.isPaid and (@rq.member == null or (@rq.member != null and !@rq.isPaid))}">
        해당 글은 유료멤버십 전용입니다.
    </div>

    <hr class="mt-2">

    <div class="mt-2 flex gap-2 justify-center">
        <!-- 글 작성자와 로그인한 사용자가 같은 경우에만 수정과 삭제 가능하도록 조건 추가 -->
        <a class="btn-link" th:if="${@rq.member != null and @rq.member.username == post.author.username}" th:href="|/post/${post.id}/modify|">글 수정</a>
        <a method="DELETE" class="btn-link" th:if="${@rq.member != null and @rq.member.username == post.author.username and @postService.canDelete(@rq.member, post)}"
           onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="|/post/${post.id}/delete|">
            글 삭제
        </a>
    </div>
</div>
</body>
</html>
