<html layout:decorate="~{global/layout}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="|댓글 수정|"></title>
</head>

<body>
<div layout:fragment="content" class="container">

    <h1 class="font-bold mb-2">
        <i class="fa-solid fa-comment-dots"></i> 댓글 수정</h1>
    <hr>

    <form th:action="|/comment/${comment.id}/modify|" class="flex flex-col gap-4" method="POST"
          onsubmit="submitWriteCommentForm(this); return false;">
        <!--        게시물 수정폼 처리에 PUT 매핑 적용 -->
        <input type="hidden" name="_method" value="PUT">
        <div class="form-control mb-5">
            <textarea name="comment" rows="1" maxlength="1000" placeholder="댓글을 작성해주세요."
                      class="textarea textarea-bordered mb-3" th:text="${comment.comment}"></textarea>
            <button class="btn btn-primary btn-block" type="submit">
                댓글 작성
            </button>
        </div>
    </form>
</div>

<script>
    function submitWriteCommentForm(form) {
        form.body.value = form.body.value.trim();

        if (form.body.value.length === 0) {
            toastWarning('댓글을 작성해주세요.');
            form.body.focus();

            return;
        }

        form.submit();
    }
</script>
</body>
</html>